@import url(https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap);


/* HTML */

html {
    scroll-behavior: smooth;
}


/* Body */

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
}

a {
    color: #21aeff;
    transition: 0.3;
}

a:hover {
    opacity: 0.8;
}


/* Grid */

.landing-container-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hd sc sc"
        "as sc sc";
    background-image: linear-gradient(rgba(0,43,67,0.6), rgba(0,43,67,0.3)), url("../images/cloud.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* Header */

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}

.logo {
    cursor: pointer;
}

.logo a:hover {
    opacity: 1;
}

.logo a img {
    width: 70px;
}


/* Journal Output */

section {
    grid-area: sc;
    padding: 65px 130px 75px;
}

.journal {
    display: none;
}

.journal h1 {
    text-align: center;
}

.journal table {
    width: 100%;
    border-collapse: collapse;
}

.journal table td {
    line-height: 1.2em;
}

.journal table td:first-child {
    width: 10%;
    color: #21aeff;
    font-weight: bold;
}

.journal table td:last-child {
    width: 90%;
    padding: 0 20px;
    border-bottom: 1px dashed #fff;
    letter-spacing: 2px;
}

.journal table td:first-child i {
    font-size: 2em;
}


/* Journal Input */

aside {
    grid-area: as;
    background-color: rgba(0,0,0,0.3);
}

.form-title h3 {
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.input-wrapper {
    padding: 0 10%;
}

input,
textarea,
button {
    font-family: "Roboto", sans-serif;
}

input[type="text"],
textarea,
button {
    width: 100%;
    margin: 0 0 12px;
}

input,
textarea {
    font-size: 0.95em;
    text-align: center;
    letter-spacing: 2px;
    padding: 12px 10px;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 2px 2px 40px 0 #fff;
}

input,
button {
    border-radius: 20px;
}

input {
    box-sizing: border-box;
}

textarea {
    border-radius: 20px;
}

::placeholder { 
    color: #999;
    letter-spacing: 2px;
}

.radio-inputs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 23px;
}

.radio-input-wrapper {
    color: rgba(255,255,255,0.8);
    font-size: 0.9em;
}

input[type="radio" i] {
    margin-right: 5px;
}

button {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border: 2px solid #21aeff;
    border-radius: 30px;
    outline: none;
    background-color: #21aeff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #21aeff;
    box-shadow: 2px 2px 40px 0 #fff;
}

@media (hover: hover) {
    button:hover {
        background-color: transparent;
        border: 2px solid #21aeff;
        box-shadow: 2px 2px 40px 0 #fff;
    }
}

@media (hover: none) {
    button:hover {
        background-color: #21aeff;
        border: 2px solid #21aeff;
        box-shadow: none;
    }
}

#form-description {
    color: #21aeff;
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.7;
    margin-top: 10px;
}


/* Buttons - Close Button */

.buttons {
    position: fixed;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 0 20px #aaa;
    margin: 0;
    transition: 1s;
}

.close-button {
    right: 20px;
    bottom: 20px;
    color: #21aeff;
    background: #fff;
    border: none;
    visibility: hidden;
    opacity: 0;
}


/* Footer */

footer {
    overflow: auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    color: #000;
}

.footer-wrapper p {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8em;
}

.footer-wrapper a {
    text-decoration: none;
    transition: 0.3s;
}


/* Media Queries */

@media only screen and (min-width: 981px) {

    header {
        padding-top: 110px;
    }

    .input-form {
        padding-bottom: 120px;
    }

}

@media only screen and (max-width: 980px) {

    .landing-container-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hd hd hd hd"
            "as as as as"
            "sc sc sc sc";
        background-attachment: scroll;
    }

    header {
        padding-top: 50px;
    }

    textarea {
        height: 50px;
    }

    .input-form {
        padding-bottom: 50px;
    }


    /* Journal Output */

    section {
        padding: 80px 0;
    }

    .journal {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        background: rgba(0,43,67,0.9);
    }

    .journal h1 {
        font-size: 2em;
    }

    #output-wrapper {
        padding: 0 10%;
    }

    /* Footer */

    .footer-wrapper {
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
    }

    .footer-wrapper p {
        margin: 0;
    }

}

@media only screen and (max-width: 479px) {

    .journal h1 {
        font-size: 1.5em;
    }

    .journal table td:first-child {
        width: 15%;
    }

    .journal table td:first-child i {
        font-size: 1.5em;
    }

    .journal table td:last-child {
        width: 85%;
        font-size: 0.9em;
        letter-spacing: 0;
        padding: 8px;
    }

    input,
    textarea {
        font-size: 0.8em;
        letter-spacing: 0;
    }

}